@import url('https://fonts.googleapis.com/css2?family=Mulish&display=swap');

* {
  box-sizing: border-box;
}

body {
  font-family: 'Mulish', sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* height: 100vh; */
  background-image: url(/ffflux.svg);
  background-size: cover;
  background-attachment: fixed;
}

.text {
  text-transform: uppercase;
}

.main {
  width: 65%;
  height: 65%;
}

.logo {
  width: 150px;
}

.nav-btn {
  border: none;
  background-color: transparent;
  cursor: pointer;
  font-size: 20px;
}

.open-btn {
  position: fixed;
  top: 10px;
  left: 10px;
  filter: drop-shadow(0px 0px 10px rgba(0,0,0,.5));
  }


.nav {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  transform: translateX(-100%);
  transition: transform 0.3s ease-in-out;
}

.nav.visible {
  transform: translateX(0);
}

.nav-dark {
  background-color: rgb(41,41,72);
  width: 60%;
  max-width: 480px;
  min-width: 320px;
  transition-delay: .4s;
}

.nav-dark.visible {
  transition-delay: 0s; 
}

.nav-light {
  background-color: rgb(104,192,192);
  width: 95%;
  transition-delay: .2s;
}

.nav-light.visible {
  transition-delay: .2s;
}

.nav-lighter {
  background-color: rgb(201,225,217);
  width: 95%;
  padding: 40px;
  position: relative;
  transition-delay: 0s;
}

.nav-lighter.visible {
  transition-delay: .4s;
}

.close-btn {
  opacity: 0.3;
  position: absolute;
  top: 40px;
  right: 30px;
  color: rgb(41,41,72);
}

.list {
  list-style-type: none;
  padding: 0;
}

.list li {
  margin: 20px 0;
}

.list li a {
  color: rgb(41,41,72);
  font-size: 14px;
  text-decoration: none;
  text-transform: uppercase;
}

.list ul {
  list-style-type: none;
  padding-left: 20px;
}

.projects.hidden {
  display: none;
}

.btn {
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.contact {
  margin: auto;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.about-card {
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
